@import "normalize.pcss";
@import "ui.pcss";
@import "mixins.pcss";
@import "global.pcss";

@import "view/register/index.pcss";
@import "view/form/index.pcss";
@import "view/shadow/index.pcss";
@import "view/personal/index.pcss";
@import "view/comment-form/index.pcss";

#root {

}